/*
Adapted from BlazeMag
*/

h1, h2, h3, h4, h5, h6, .tagline, .sub-title, .entry-meta, .entry-note, .read-more, #submit, input#s, .widget_ti-about-site p, .comments .vcard, .copyright, #wp-calendar tbody, .latest-reviews i, .score-box .total {
	font-family: 'Agency FB', 'Open Sans Condensed', sans-serif !important;
	font-weight: 300 !important;
}

.navbar-nav>li>a, #search-box .kodda_search_input {
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-weight: 300 !important;
	letter-spacing: 0.2em;
}

body {
	font-family: 'Carrois Gothic', sans-serif !important;
	font-weight: 400 !important;
	font-size: 15px !important;
	display:none;
}

h1, .h1 {
	font-size: 35px !important;
}

.kodda_top_link, .kodda_resp_top_link, .kodda_resp_posts_cat, .kodda_resp_submenu_links_column_title, .kodda_resp_submenu_links_links a, .kodda_submenu_posts_categories a, .kodda_submenu_posts_all_posts a span, .kodda_resp_posts_cat_container a span, .widget-title, .wpb_heading {
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

a {
color: inherit;
text-decoration: none;
	transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;

}

a:link {color: inherit; text-decoration:none;}      /* unvisited link */
a:visited {color: inherit; text-decoration:none;}  /* visited link */
a:active {color: inherit; text-decoration:none;}  /* selected link */

#theme {
	float: left;
	width: 100%;
	background: #eee;
}

.main-content {
	padding-top: 20px;
	margin-top: 60px;
	background: #eee;
	z-index: 4;
	position: relative;
	border-top-width: 8px;
	border-top-style: solid;
}

.single .main-content, .archive .main-content, .search .main-content {
	padding-top: 0px;
}

.archive.category .main-content {
	padding-top: 0px;
}


.main-content .container {
	z-index: 4;
	position: relative;
	background: #eee;
	padding: 0 0 0 0 !important;
	
}

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.container {
	padding: 0 !important;
}



body {
	animation: fadein 2s;
	-moz-animation: fadein 2s;
	-webkit-animation: fadein 2s;
	-o-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* ===========================================================================================

3. Top Navigation

============================================================================================== */


.site-header {
	width: 100%;
	height: 60px;
	background: rgba(0, 0, 0, 0.85);
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
	border-top: 1px solid #444444;
	border-bottom: 1px solid #090909;
	position: fixed;
	float: left;
	z-index: 2000;
}

.navbar {
	background-color: transparent !important;
	border-radius: 0px !important;
	padding: 0px  !important;
	z-index: 99;
}

#main-menu {
	font-size: 14px;
	text-transform: uppercase;
}

.navbar-nav>li {
	border-right: 1px solid rgba(255, 255, 255, 0.19);
}

.navbar-nav>li.first {
	border-left: 1px solid rgba(255, 255, 255, 0.19);
}

.navbar-nav>.active>a {
	color: #b9d400 !important;
	background-color: transparent !important;
}

.navbar-nav>li>a {
	padding-top: 20px !important;
	padding-bottom: 19px !important;
	color: #fff !important;
}

.header-logo {
	padding: 10px 15px 10px 0;
	float: left;
}


.kodda_submenu_posts_all_posts a span, .kodda_resp_posts_cat_container a span {
	margin-top: 5px;
	text-align: center;
}

#kodda_parent_full_width {
	float: left;
}

a.kodda_top_link:hover {
color: #333 !important
}
 
a.kodda_posts_cat:hover {
color: #fff !important
}

.kodda_posts_cat, .kodda_submenu_posts_all_posts a span, .kodda_resp_posts_cat_container a span, .kodda_submenu_posts_all_posts a span:hover, .kodda_resp_posts_cat_container a span:hover, .kodda_posts_cat_container img {
	-webkit-transition: all 054s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.kodda_posts_cat_container img:hover {
opacity: 0.6;
}

.search-container, .user-login-container, .social-icon-container {
	background-color: transparent;
	position: relative;
	float: right;
	color: #fff;
	height: 60px;
	font-size: 16px;
	-webkit-text-stroke: 1px rgba(0,0,0,0.3);
	border-left: solid 1px;
	border-color: rgba(255, 255, 255, 0.19) !important;
	-webkit-transition: all 054s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.wpb_posts_slider {
	width: 100% !important;
}

.kodda_resp_menu_posts {
	background-color: #ccc;
}

.kodda_responsive > .ct_font_box { 
	margin-top: 2px !important; 
}

.kodda_menu_dropdowns .kodda_submenu, .kodda_submenu_dropdown_level_two {
	background-color: #f1f0ed !important;
	background-image: none !important;
	border: none !important;
}

.kodda_menu_dropdowns .kodda_submenu a, .kodda_menu_dropdowns .kodda_submenu a:link, .kodda_menu_dropdowns .kodda_submenu a:visited {
	padding: 12px 0px 12px 15px !important;
	color: #333;
	font-size: 14px !important;
	font-family: 'Open Sans Condensed', sans-serif !important;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	background-color: rgba(200,200,200,0.3);
	border-bottom: none !important;
}

.kodda_submenu_dropdown_level_one:hover > a, .kodda_submenu_dropdown_level_two a:hover {
	color: #ffffff !important;
	background-color: rgb(51, 51, 51) !important;
}

.social-icon-container a {
display: block;
padding: 19px 15px 19px 15px;
}





/* ===========================================================================================

4. Header Sticky Area

============================================================================================== */


.header-sticky {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
	width: 100%;
	height: 400px;
	margin-top: -40px;
	margin-bottom: -60px;
	position: relative;
	z-index: 2;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #000;
	background-size: cover;
}

.header-sticky-bg {
	margin: 0 auto;
	z-index: -999;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.header-sticky-bg img {
	width: 100%;
	position: absolute;
	left: 0;
}

.header-sticky-mask {
	margin: 0 auto;
	width: 100%;
    	z-index: -990;
    	position: absolute;
    	left: 0;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	background: url(sticky-mask.png);
}

.header-sticky-post {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	padding: 30px !important;
	background-color: rgba(0,0,0,0.8) !important;
	box-shadow: 0 0 15px -2px #000;
	-moz-box-shadow: 0 0 15px -2px #000;
	-ms-box-shadow: 0 0 15px -2px #000;
	-o-box-shadow: 0 0 15px -2px #000;
	-webkit-box-shadow: 0 0 15px -2px #000;
	text-align: center;
}

.header-sticky-post-cat {
	color: #ccc;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-bottom: 10px;
}

.header-sticky-post-cat .fa {
	letter-spacing: 0;
}

h3.header-sticky-post-title {
	font-size: 52px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	line-height: 54px;
	margin-top: 0px;
	text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px;
}

.header-sticky-post-subtitle {
	color: #ccc;
	margin-bottom: 15px;
	margin-top: 15px;
}

.header-sticky .post-item-meta {
	text-align: center;
}
.post-item-meta {
	margin: 0 auto;
	float: left;
	width: 100%;
	padding: 0px;
}

.header-sticky-author-picture {
	display: inline-block;
	width: 30px !important;
	height: 30px !important;
	margin: 0px 10px -10px 0px;
	overflow: hidden;
	background-color: #f2f2f0;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.header-sticky-post-meta {
	display: inline-block;
	font-size: 14px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ccc;
}




/* ===========================================================================================

5. Homepage & Archive Pages Items

============================================================================================== */


.isotope-item.vc_span4 {
	width: 330px !important;
	margin: 40px 0 0 40px !important;
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.wpb_carousel .vc_span4 {
	width: 330px !important;
	margin: 40px 0 0 40px !important;
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.post-thumb {
	overflow: hidden;
}

.isotope-item img, .vc_span4 img {
	width: auto;
	height: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-backface-visibility: hidden;
}

.isotope-item:hover .post-thumb img, .vc_span4:hover .post-thumb img {
	-webkit-transform: scale(1.06);
	-moz-transform: scale(1.06);
	-o-transform: scale(1.06);
	-ms-transform: scale(1.06);
	transform: scale(1.06);
	-webkit-backface-visibility: hidden;
	opacity: 0.5;
}

.isotope-item:hover .post-thumb, .vc_span4:hover .post-thumb {
	background-color: #b9d400;
}

.isotope-item .post-category-meta, .vc_span4 .post-category-meta {
	padding: 20px 20px 0 20px;
	margin: 0 !important;
	text-align: center;
}

.isotope-item .post-category, .vc_span4 .post-category {
	color: #333;
}

.col-12 {
	padding: 0 !important;
}

.wpb_row .wpb_grid ul.wpb_thumbnails-fluid, .wpb_row .wpb_grid ul.wpb_thumbnails-fluid, .wpb_row .wpb_filtered_grid ul.wpb_thumbnails-fluid {
	margin: 0 0 0 -40px !important;
	width: calc(100% + 40px) !important;
}

h2.grid-title {
	padding: 15px 20px 0 20px;
	margin: 0 !important;
	text-align: center;
	font-size: 28px;
	opacity: .99;
	-webkit-font-smoothing:antialiased;
	hyphens: auto;
	word-wrap: break-word;
	transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	line-height: 32px;
	margin-top: 0px !important;
	text-transform: uppercase;
}

h2.grid-title a:link {color: #333 !important; text-decoration:none !important;}      /* unvisited link */
h2.grid-title a:visited {color: #333 !important; text-decoration:none !important;}  /* visited link */
h2.grid-title a:active {color: #333 !important; text-decoration:none !important;}  /* selected link */

.wpb_teaser_grid .entry-content {
	text-align: center;
	padding: 15px 20px 0 20px !important;
}

.btn-sm, .btn-xs {
	padding: 5px 10px !important;
	font-size: 12px !important;
	line-height: 1.5 !important;
	border-radius: 3px !important;
}

.btn-xs {
	padding: 1px 5px !important;
}

.grid-read-more {
	display: block !important;
	margin: 20px auto 20px auto !important;
}

.wpb_main_heading {
	text-align: center;
	margin: 0 !important;
}

.element-title {
	font-size: 32px;
	float:left;
	width: 100%;
	color: #444 !important;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.wpb_subheading {
	text-align: center;
	margin: 0 0 -15px 0 !important;
}

.wpb_subheading span {
	font-size: 18px;
	color: #8c919b !important;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.wpb_carousel .teaser_grid_container {
	margin-left: -40px;
	padding-bottom: 3px;
}

.vc_span4.wpb_column.column_container {
	background-color: transparent;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0);
	-o-box-shadow: 0 0 0 rgba(0,0,0,0);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.wpb_widgetised_column.wpb_content_element {
	margin-top: 0px;
	width: 100%;
}

.wpb_text_column {
	width: 330px;
	padding: 20px;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.wpb_heading.wpb_singleimage_heading, .wpb_heading.wpb_gallery_heading, .wpb_heading.wpb_tabs_heading, .wpb_heading.wpb_video_heading, .wpb_heading.wpb_map_heading, .wpb_heading.wpb_flickr_heading, .wpb_heading.wpb_progress_bar_heading, .wpb_heading.wpb_pie_chart_heading {
	width: 100% !important;
	margin: 0px !important;
	padding: 6px 0 8px 0 !important;
	text-align: center;
	color: #fff;
	font-size: 14px !important;
	background-color: #b9d400 !important;
	border-top-color: #b9d400 !important;
	border-top: 2px solid;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.wpb_single_image, .wpb_gallery.wpb_content_element.clearfix, .wpb_call_to_action.wpb_content_element, .wpb_flickr_widget.wpb_content_element, .vc_progress_bar.wpb_content_element, .vc_pie_chart.wpb_content_element, .wpb_accordion.wpb_content_element {
	width: 100%;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.wpb_tabs.wpb_content_element, .wpb_tour.wpb_content_element {
	width: 100%;
	background: #f0f0f0;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.wpb_alert {
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.wpb_tab .wpb_content_element, .wpb_accordion_content .wpb_content_element {
	width: 100%;
	margin: 0;
	padding: 10px;
	background: #fff;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0);
	-o-box-shadow: 0 0 0 rgba(0,0,0,0);
}

.wpb_content_element .wpb_tabs_nav li.ui-tabs-active, .wpb_content_element .wpb_tabs_nav li:hover {
	background-color: #fff !important;
}

.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
	background-color: #fff !important;
}

.wpb_tab .widget, .wpb_accordion_content .widget {
	background: transparent;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0);
	-o-box-shadow: 0 0 0 rgba(0,0,0,0);
}

.wpb_tab .wpb_content_element .widget {
	margin-top: -20px;
}

.nav>li>a {
	display: inline-block !important;
}

.widget select {
	width: 290px;
	margin: 10px 20px 20px 20px;
}

.widget .search-field.form-control {
	margin: 10px 20px;
	width: 290px;
}

.widget .textwidget .wp-caption {
	margin: 0 !important;
}

.widget .textwidget img {
	max-width: 100%;
}

.widget .textwidget .wp-caption-text {
	margin-right: 0 !important;
	margin-left: 0 !important;
	width: 100%;
}

.widget .textwidget select {
	margin: 0 0 10px 0;
}

.widget .media-list {
	padding: 10px 20px;
}

.widget .tagcloud, .widget .textwidget {
	padding: 10px 20px 20px 20px;
}

.widget .tagcloud a {
	display: inline-block;
	color: #fff !important;
	background-color: #333;
	padding: 2px 6px;
	margin-top: 5px;
	font-size: 15px !important;
}



#colophon {
	background: rgba(0, 0, 0, 0.85);
	border-top-width: 8px;
	border-top-style: solid;
	border-top-color: #333;
	border-bottom: 1px solid #090909;
	margin-top: 40px;
}

.site-footer-inner.col-12 {
width: 1120px;
}

.footer-widget {
	width: 237.5px;
	float: left;
	margin-right: 40px;
	margin-top: 40px;
	text-align: center;
}

.footer-widget-title {
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(204, 204, 204, 0.31);
}

.footer-widget .nav>li>a:hover {
	color: #8F83E6;
	background-color: transparent;
}

.footer-widget .nav>li>a {
	color: #ccc;
}

.footer-widget .post-date {
	font-size: 11px;
	color: #686868;
}

.recentcomments {
	color: #686868;
}

.recentcomments a {
	color: #ccc;
}

.latest-tweets ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	list-style: none;
	padding: 0 10px;
}

.tweet-text {
	color: #ccc;
	margin-bottom: 10px;
	margin-top: 10px;
}

.footer-widget {
	color: #ccc;
	margin-bottom: 20px;
}

.tweet-details {
	color: #686868;
	font-size: 11px;
}

.latest-tweets {
	margin-top: 20px;
}


ul#recentcomments img.avatar {
box-shadow: none;
padding: 4px;
margin: 0;
width: 45px;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
background-color: #ccc !important;
border: 1px solid #5A5A5A !important;
}

ul#recentcomments .alignleft {
border: 0;
}

ul#recentcomments li.recentcomments {
border: none !important;
margin-top: 20px !important;
color: #ccc;
}

.recentcomments span {
color: #686868;
}

.footer-widget .textwidget {
margin-top: 20px;
}

.footer-widget .textwidget p {
margin-bottom: 20px;
}

.footer-brand {
height: 70px;
width: 100%;
float: left;
background: #1A1A1A;
border-top: 1px solid rgba(204, 204, 204, 0.13);
}

.footer-brand .container {
margin-top: 15px;
}

.footer-brand-title {
border-left: 1px solid;
margin-left: 20px;
padding: 8px 0px 13px 20px;
text-transform: uppercase;
font-family: 'Open Sans Condensed', sans-serif;
letter-spacing: 0.2em;
}

.footer-brand-social {
margin-left: 22px;
font-size: 16px;
}

.footer-brand-desc {
font-family: 'Open Sans Condensed', sans-serif;
letter-spacing: 0.2em;
border-right: 1px solid;
padding: 8px 20px 13px 0px;
}



/* ===========================================================================================

9. Responsive Design

============================================================================================== */

/* iPads (landscape) ----------- */
@media screen 
and (min-width : 880px) 
and (max-width : 1100px)  {
/* Styles */

#kodda_parent_full_width { 
	padding: 0 42px !important; 
    position: relative;
    bottom: 0;
    left: 0;
}

.kodda_submenu { width: 140px !important; }

.site-footer-inner.col-12 { width: 940px !important; }

.wpb_row ul.wpb_thumbnails-fluid > [class*="vc_span"] { margin-left: 5.5%; }

.teaser_grid_container .isotope-item.vc_span4, .wpb_carousel .teaser_grid_container .vc_span4 { width: 450px !important;}

.vc_row-fluid .vc_span4, .wpb_teaser_grid.wpb_carousel .vc_span4 { width: 450px !important; }

.vc_row-fluid .vc_span8 { width: 450px !important; }

.post-thumb img { width:450px !important }

.wpb_carousel .carousel-nav .prev { left: -40px !important; top: 380px !important; }

.wpb_carousel .carousel-nav .next { right: -40px !important; top: 380px !important; }

.footer-widget { width: 430px !important; display: inline-table !important; float: none !important; }

.kodda_posts_cat_container { width: 760px !important; }

.kodda_posts_cat_container a { width: 206px !important; }

.kodda_posts_cat_container img { width: 200px !important; }

.header-sticky-bg img { height: 100%; }

.wp-caption.alignright { margin-right: 0px !important; }

.alignnone img { max-width: 940px !important; }

.alignnone .wp-caption-text { margin-right: -250px !important; }

.post-previous, .post-next { height: 149px !important; }

/* Styles */
}
/* iPads (landscape) ----------- */




/* iPads (portrait) ----------- */
@media screen 
and (min-width : 768px) 
and (max-width : 879px) {
/* Styles */

.container { max-width: 700px !important; }

.header-sticky-bg img { height: 100%; }

.vc_row-fluid .vc_span8 { width: 330px !important; }

.flex-caption { width: 93% !important; }

.site-footer-inner.col-12 { width: 700px !important; }

.footer-widget { width: 310px !important; display: inline-table !important; float: none !important; }

#kodda_container { padding: 0 20px !important; }

.flex-direction-nav .flex-prev { left: inherit !important; }

.wpb_carousel .carousel-nav .prev { left: 10px !important; top: 315px !important; }

.wpb_carousel .carousel-nav .next { right: 10px !important; top: 315px !important; }

.post { width: 450px !important; }

.wp-caption.alignright { margin-right: 0px !important; }

.alignnone img { max-width: 700px !important; }

.alignnone .wp-caption-text { margin-right: -230px !important; }

.post-nav img { height: 170px !important; }


/* Styles */
}
/* iPads (portrait) ----------- */




/* Iphone (landscape) ----------- */
@media screen 
and (min-width : 480px) 
and (max-width : 767px) {
/* Styles */

#kodda_container { padding: 0 20px !important; }

.container { width: 330px !important; }

.header-sticky-bg img { height: 100%; }

.vc_row-fluid .vc_span8 { width: 330px !important; }

.site-footer-inner.col-12 { width: 330px !important; }

.footer-widget { width: 330px !important; display: inline-table !important; float: none !important; margin-right: 0px !important; }

.flex-caption { display: none !important; }

.wpb_gallery_slides .flex-direction-nav .flex-next { right: 5px !important; top: -80px !important; }

.wpb_gallery_slides .flex-direction-nav .flex-prev { left: 10px !important; top: -80px !important; }

.footer-brand-title, .footer-brand-desc { display: none; }

.vc_row-fluid [class*="vc_span"] { margin-left: 0px !important; }

.author-post-section { display: none !important; }

.single .main-content .container { width: 450px !important; }

.post { width: 410px !important; margin-left: 20px !important; }

.wp-caption.alignright { margin-right: 0px !important; }

.wp-caption.alignleft { margin-left: 0px !important; }

.alignnone img { max-width: 450px !important; }

.alignnone { margin-left: -20px !important; }

.alignnone .wp-caption-text { margin-right: -20px !important; }

.post-nav img { height: 140px !important; }

.post-previous, .post-next { height: 140px !important; }

.nav-text-wrapper { top: 10px !important; }

.entry-content .wpb_row .wpb_grid ul.wpb_thumbnails-fluid, .entry-content .wpb_row .wpb_grid ul.wpb_thumbnails-fluid, .entry-content .wpb_row .wpb_filtered_grid ul.wpb_thumbnails-fluid { margin: 0 !important; }

.wpb_carousel .teaser_grid_container { margin-left: 0px !important; }

/* Styles */
}
/* Iphone  (landscape) ----------- */





/* Iphone (portrait) ----------- */
@media screen 
and (min-width : 320px) 
and (max-width : 479px) {
/* Styles */

#kodda_container { padding: 0 10px !important;}

.container { width: 300px !important; }

.social-icon-container { display: none !important; }

.header-sticky { /*display: none !important;*/ }

.teaser_grid_container .isotope-item.vc_span4, .wpb_carousel .teaser_grid_container .vc_span4 { width: 300px !important;}

.vc_row-fluid .vc_span4, .wpb_teaser_grid.wpb_carousel .vc_span4 { width: 300px !important; }

.vc_row-fluid .vc_span8 { width: 300px !important; }

.post-thumb img { width: 300px !important }

.vc_row-fluid [class*="vc_span"] { margin-left: 0px !important; }

.site-footer-inner.col-12 { width: 300px !important; }

.footer-widget { width: 300px !important; display: inline-table !important; float: none !important; margin-right: 0px !important; }

.flex-caption { display: none !important; }

.wpb_gallery_slides .flex-direction-nav .flex-next { right: 5px !important; top: -80px !important; }

.wpb_gallery_slides .flex-direction-nav .flex-prev { left: 10px !important; top: -80px !important; }

.wpb_gallery.wpb_posts_slider.wpb_content_element { display: none; }

.footer-brand-title, .footer-brand-desc { display: none; }

.wpb_carousel .carousel-nav .prev { left: 10px !important; top: 330px !important; }

.wpb_carousel .carousel-nav .next { right: 10px !important; top: 330px !important; }

.post { width: 280px !important; margin-left: 10px !important; }

.author-post-section { display: none !important; }

.page-title { font-size: 46px !important; }

.wp-caption.alignright { margin-right: 0px !important; }

.wp-caption.alignleft { margin-left: 0px !important; }

.alignnone { margin-left: -10px !important; }

.alignnone img { max-width: 300px !important; }

.alignnone .wp-caption-text { margin-right: 10px !important; margin-left: 10px !important; }

.post-nav { display: none !important; }

.entry-content .wpb_row .wpb_grid ul.wpb_thumbnails-fluid, .entry-content .wpb_row .wpb_grid ul.wpb_thumbnails-fluid, .entry-content .wpb_row .wpb_filtered_grid ul.wpb_thumbnails-fluid { margin: 0 !important; }

.wpb_carousel .teaser_grid_container { margin-left: 0px !important; }

/* Styles */
}
/* Iphone  (portrait) ----------- */







/* ===========================================================================================

10. Basics

============================================================================================== */

.entry-content p {
	margin: 0 0 30px;
}

/* Import the necessary Bootstrap WP CSS additions */
@import url( includes/css/bootstrap-wp.css );

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-left: -200px;
	padding-right: 20px;
	border-right: 1px solid #ccc;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


/* Images and wp-captions should always fit and be responsive */
img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
img[class*="wp-image-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	margin: 0 0 15px;
}

.wp-caption {
	margin-top: 10px;
	max-width: 100%;
	font-size: 13px;
	color: #7E7E7E;
}

.wp-caption.alignright {
	margin-right: -160px;
	padding-left: 20px;
	border-left: 1px solid #ccc;
}

img.alignnone, .alignnone img {
	max-width: 1070px;
}

.alignnone {
	margin-left: -220px;
}

.alignnone .wp-caption-text {
	margin-left: 20px;
	margin-right: -380px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.wp-caption.aligncenter, .wp-caption.alignnone  {
	margin-bottom: 20px;
	margin-top: 20px;
}

.wp-caption.aligncenter {
	margin-bottom: 10px;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
}
.wp-caption .wp-caption-text {
	text-align: center;
	margin-top: 10px;
}


/* WP Gallery */
.gallery {
	margin-bottom: 1.5em;
}
.gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.gallery dd {
	margin: 0;
}


/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/* Content */
.main-content-inner {
	padding-bottom: 1.5em;
}
.hentry {
	margin: 0 0 1.5em;
}


/* Clearing */
.clear {
	clear: both;
}


/* Here some needed widget styles 
 * Most widgets are adapted in the file bootstrap-wp.js - and REALLY easy to modify! ;) */
.widget { margin-bottom: 2em; }
.widget_nav_menu ul.sub-menu li, .widget_pages ul.children li { padding-left: 15px; }

/* Hiding the search widget's button in widgets.
 * Note: you can change the whole appearance of the search_form() function in our searchform.php */
.widget_search .search-form input[type="submit"] { display: none; }

/* Make sure select elements fit in widgets */
.widget select { max-width: 100%;}

/* Nested comments */
 .comment .children { margin-left: 1.5em; }

.twitter-tweet {
	margin: 0 auto !important;
}

blockquote p {
	font-size: 26px !important;
}

.sticky, .gallery-caption, .bypostauthor { width: auto; }




			.site-title a,
			.site-description {
				color: #f2f2f2;
			}
			.main-content {
				border-top-color: #e86f6f !important;
				padding-top: 0px !important;
			}

			a:hover, h2.grid-title a:hover, h2.post-title a:hover, .kodda_submenu_posts_all_posts a span:hover, .kodda_resp_posts_cat_container a span:hover, .search-container:hover, .user-login-container:hover, .social-icon-container:hover {
				color: #e86f6f !important; text-decoration:none;
			}

			#colophon, .widget .element-header {
				border-top-color: #e86f6f !important;
			}

			#reply-title, .comment-respond .alert-info, #commentsubmit, .page-header.comments-header, .comment-reply-link.btn.btn-primary, .post-tags a, .isotope-item:hover .post-thumb, .vc_span4:hover .post-thumb, .nav-previous, .nav-next, .widget-title, .widget .element-header, .wpb_teaser_grid .categories_filter li, .wpb_categories_filter li  {
				background-color: #e86f6f !important;
			}

			.flex-prev .fa, .flex-next .fa {
				color: #e86f6f !important;
			}

			.wpb_gallery .element-header {
				border-top-color: #e86f6f !important;
				background-color: #e86f6f !important;
			}

			#kodda_parent_full_width {
				/*position: fixed !important;*/
			    position: absolute	;
			    bottom: 0;
				left: 0;
			}

			.header-sticky {
				position: relative;
			}

			.kodda_top_link_current {
				background-color: #e86f6f !important;
			}

			.kodda_top_link_current {
				background-color: inherit !important;
			}

			.kodda_top_link_current:hover {
				background-color: #f1f0ed !important;
			}

			.element-header { background: #e86f6f; border-top-color: #e86f6f; }



